<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width:400px;"> {{!--para cambiar el tamaño del logo--}}
            <div class="card-header">
                <img class="card-img-top mx-auto m-2 rounded-circle" src="/img/logo.jpg" alt="logo" style="width: 150px;height:150px;
                display:block;">
                <h3 class="text -uppercase text-center p-4">CRUD con NODE JS Y MYSQL</h3>
            </div>
            <div class="card-body text center">
                <p>Bienvenidos al ABM de usuarios, trabajo realizado por el grupo N°2 del Curso de Codo a Codo </p>
                <a href="/add" class="btn btn-primary">Crear un usuario</a>    
            </div>
        </div>
    </div>

</main>